.Home {
  background: linear-gradient(180deg, rgba(0, 28, 36, 0.5) 0%, rgba(132, 255, 0, 0) 75%, rgba(255,255,255,1) 100%),
  url("../Images/mainBackground.png") right top no-repeat;;
  background-size: cover;
  max-height: 160vh;
}